*.class
*.log
nohup.out 
*.iml

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
journal/
build/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.project
.classpath
.settings
submission/
__MACOSX/
.gradle/

